{% extends 'back/baseAdmin.html.twig' %}

{% block title %}
    {% if editMode %}
        Edition boost
    {% else %}
        Ajout boost
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(formImg) }}
        <div class="row col-10 m-auto">
            <div class="card col-12 pb-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {% if editMode %}
                            Edition de l'image : {{ name }}
                        {% else %}
                            Nouvelle image
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form-group row col-12">
                        <div class="col-6">
                            {{ form_row(formImg.name, {'label': 'Nom'}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(formImg.alt, {'label': 'Description'}) }}
                        </div>
                        <div class="col-6 m-auto">
                            {{ form_row(formImg.category, {'label': 'Categorie de l\'image'}) }}
                        </div>
                    </div>           
                </div>
                <button type="submit" class="btn btn-primary m-auto">
                    {% if editMode %}
                        Sauvegarder
                    {% else %}
                        Ajouter
                    {% endif %}
                </button>
            </div>
        </div>
    {{ form_end(formImg) }}
{% endblock %}
