{% extends 'back/baseAdmin.html.twig' %}

{% block title %}
    {% if editMode %}
        Edition catégorie
    {% else %}
        Ajout catégorie
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(formCatBoost) }}
        <div class="row col-10 m-auto">
            <div class="card col-12 pb-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {% if editMode %}
                            Edition de la {{ name }}
                        {% else %}
                            Nouvelle catégorie
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form-group row col-12">
                        {{ form_label(formCatBoost.name, 'Nom') }}
                        {{ form_widget(formCatBoost.name) }}
                    </div>           
                </div>
                <button type="submit" class="btn btn-primary m-auto">
                    {% if editMode %}
                        Sauvegarder
                    {% else %}
                        Ajouter
                    {% endif %}
                </button>
            </div>
        </div>
    {{ form_end(formCatBoost) }}
{% endblock %}