{% extends 'back/baseAdmin.html.twig' %}

{% block title %}Boosts de territoire{% endblock %}

{% block body %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des boosts territoire</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Contenu</th>
                            <th>Image</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Contenu</th>
                            <th>Image</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for b in boosts %}
                            <tr>
                                <td>{{ b.name }}</td>
                                <td>{{ b.btCategory }}</td>
                                <td>{{ b.content }}</td>

                                {% if b.image is null %}
                                    <td>
                                        <button class="btn btn-primary">
                                            <a href="{{ path('admin_boost_new_image', {'id' : b.id }) }}"><i class="fas fa-plus-circle"></i></a>
                                        </button>
                                    </td>
                                {% else %}
                                    <td>
                                        <img class="lm-img" src="{{ asset('uploads/images/' ~ b.image) }}" alt="{{ b.image.alt }}">
                                        <button class="btn btn-danger">
                                            <a href="{{ path('admin_boost_delete_image', {'id' : b.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                        </button>
                                    </td>
                                {% endif %}
                                
                                <td>
                                    <button class="btn btn-primary">
                                        <a href="{{ path('admin_boost_edit', {'id' : b.id }) }}"><i class="fas fa-edit"></i></a>
                                    </button>
                                    <button class="btn btn-danger">
                                        <a href="{{ path('admin_boost_delete', {'id' : b.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
