{% extends 'back/baseAdmin.html.twig' %}

{% block title %}Liste boost territoire{% endblock %}

{% block body %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des boosts territoire</h6>
            <a class="btn btn-success" href="{{ path('admin_boost_new') }}">Nouveau boost territoire</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for b in boosts %}
                            <tr>
                                <td class="lm-td" scope="row"><div>{{ b.name }}</div></td>
                                <td class="lm-td"><div>{{ b.category }}</div></td>
                                {% if b.image is null %}
                                    <td class="lm-td">
                                        <div>
                                            <a class="btn btn-primary btn-circle" href="{{ path('admin_boost_new_image', {'id' : b.id }) }}"><i class="fas fa-plus-circle"></i></a>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>
                                        <div class="lm-imgIcon m-auto">
                                            <img src="{{ asset('uploads/images/' ~ b.image) }}" alt="{{ b.image.alt }}">
                                            <div class="img-overlay">
                                                <a  class="btn btn-danger btn-circle" href="{{ path('admin_boost_delete_image', {'id' : b.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                                <td class="lm-td">
                                    <div>
                                        <a class="btn btn-primary btn-circle" href="{{ path('admin_boost_edit', {'id' : b.id }) }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger btn-circle" href="{{ path('admin_boost_delete', {'id' : b.id }) }}">
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
