{% extends 'back/baseAdmin.html.twig' %}

{% block title %}Boosts de territoires{% endblock %}
{% block category %}Liste des Boosts de territoires{% endblock %}

{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Contenu</th>
                <th scope="col">Image</th>
                <th scope="col">Edition / Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for b in boosts %}
                <tr>
                    <th scope="row">{{ b.id }}</th>
                    <td>{{ b.name }}</td>
                    <td>{{ b.btCategory }}</td>
                    <td>{{ b.content }}</td>

                    {% if b.image is null %}
                        <td>
                            <button class="btn btn-primary">
                                <a href="{{ path('admin_boost_new_image', {'id' : b.id }) }}"><i class="fas fa-plus-circle"></i></a>
                            </button>
                        </td>
                    {% else %}
                        <td>
                            <img class="lm-img" src="{{ asset('uploads/images/' ~ b.image) }}" alt="{{ b.image.alt }}">
                            <button class="btn btn-danger">
                                <a href="{{ path('admin_boost_delete_image', {'id' : b.id }) }}"><i class="fas fa-minus-circle"></i></a>
                            </button>
                        </td>
                    {% endif %}
                    
                    <td>
                        <button class="btn btn-primary">
                            <a href="{{ path('admin_boost_edit', {'id' : b.id }) }}"><i class="fas fa-edit"></i></a>
                        </button>
                        <button class="btn btn-danger">
                            <a href="{{ path('admin_boost_delete', {'id' : b.id }) }}"><i class="fas fa-minus-circle"></i></a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
