{% extends 'back/baseAdmin.html.twig' %}

{% block title %}
    {% if editMode %}
        Edition construction
    {% else %}
        Ajout construction
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="row col-lg-10 col-sm-12 m-auto">
            <div class="card col-12 pb-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {% if editMode %}
                            Edition de la construction
                        {% else %}
                            Nouvelle construction
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form-group row col-12 p-0 m-auto">
                        <div class="col-6">
                            {{ form_row(form.name, {'label': 'Nom de la construction'}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.constructionCat, {'label': 'Catégorie de la construction'}) }}
                        </div>
                    </div>           
                    {{ form_row(form.content, {'label': 'Description'}) }}  
                </div>
                <button type="submit" class="btn btn-primary m-auto">
                    {% if editMode %}
                        Sauvegarder
                    {% else %}
                        Ajouter
                    {% endif %}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
