{% extends 'back/baseAdmin.html.twig' %}

{% block title %}Liste constructions{% endblock %}

{% block body %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des constructions</h6>
            <a class="btn btn-success" href="{{ path('admin_construction_new') }}">Nouvelle construction</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Image</th>
                            <th>options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Image</th>
                            <th>options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for c in constructions %}
                            <tr>
                                <th scope="row">{{ c.id }}</th>
                                <td>{{ c.name }}</td>
                                <td>{{ c.constructionCat }}</td>
                                <td>{{ c.content }}</td>

                                <td>{{ c.name }}</td>
                                <td>{{ c.constructionCat }}</td>
                                {% if c.image is null %}
                                    <td>
                                        <button class="btn btn-primary">
                                            <a href="{{ path('admin_construction_new_image', {'id' : c.id }) }}"><i class="fas fa-plus-circle"></i></a>
                                        </button>
                                    </td>
                                {% else %}
                                    <td>
                                        <img class="lm-img" src="{{ asset('uploads/images/' ~ c.image) }}" alt="{{ c.image.alt }}">
                                        <button class="btn btn-danger">
                                            <a href="{{ path('admin_construction_delete_image', {'id' : c.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                        </button>
                                    </td>
                                {% endif %}

                                <td>
                                    <button class="btn btn-primary">
                                        <a href="{{ path('admin_construction_edit', {'id' : c.id }) }}"><i class="fas fa-edit"></i></a>
                                    </button>
                                    <button class="btn btn-danger">
                                        <a href="{{ path('admin_construction_delete', {'id' : c.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
