{% extends 'base.html.twig' %}

{% block title %}Les boosts de territoire{% endblock %}

{% block contentTitle %}Boosts de territoire{% endblock %}

{% block body %}

    <div class="filter-menu">
        <div class="title">
            <div>
                <img src="{{ asset('uploads/bandeau_rouge.png') }}" alt="">
                <div class="text-center">
                    <span>Liste</span>
                </div>
            </div>
        </div>
        <div class="filter-list row">
            <div class="col-12 mt-2">
                <ul>
                    {% for b in boostIcon %}
                        <li value="{{ b.id }}" class="ajax-view_content">
                            {% if b.image is null %}
                                <img src="{{ asset('uploads/default.png') }}" alt="">
                            {% else %}
                                <img src="{{ asset('uploads/images/' ~ b.image ) }}" alt="{{ b.image.alt }}">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="filter-menu category">
        <div class="title">
            <div>
                <img src="{{ asset('uploads/bandeau_rouge.png') }}" alt="">
                <div class="text-center">
                    <span>Catégories</span>
                </div>
            </div>
        </div>

        <div class="filter-list boost row">
            <div class="col-12 mt-2">
                <ul>
                    {% for b in boostCat %}
                        <li value="{{ b.id }}" class="ajax-view_contentByCat">
                            <div>
                                <img src="{{ asset('uploads/button.png') }}" alt="">
                                <div class="text-center">{{ b.name }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="ajax-no-content">Cliquez sur un familier ou une catégorie...</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('boostTerritory') }}
	{{ encore_entry_script_tags('boostTerritoryCat') }}
{% endblock %}
