{% extends 'base.html.twig' %}

{% block title %}Les constructions{% endblock %}

{% block contentTitle %}Les constructions{% endblock %}

{% block body %}

    <div class="filter-menu">
        <div class="title">
            <div>
                <img src="{{ asset('uploads/bandeau_rouge.png') }}" alt="">
                <div class="text-center">
                    <span>Liste</span>
                </div>
            </div>
        </div>
        <div class="filter-list fam-head-list row construction-list">
            <div class="col-12 mt-2">
                <ul class="fam-head">
                    {% for c in constructions %}
                        <li value="{{ c.id }}" class="ajax-view_content">
                            {% if c.image is null %}
                                <img src="{{ asset('uploads/default.png') }}" alt="">
                            {% else %}
                                <img src="{{ asset('uploads/images/' ~ c.image ) }}" alt="{{ c.image.alt }}">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="ajax-no-content">
        <div class="alert alert-primary" role="alert">
            Cliquez sur un batiment...
        </div>
    </div>

    <div id="ajax-loading" class="text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('construction') }}
{% endblock %}
