{% extends 'base.html.twig' %}

{% block title %}Les familiers{% endblock %}

{% block contentTitle %}Les familiers{% endblock %}

{% block body %}

    <div class="filter-menu">
        <div class="filter-list fam-head-list row">
            <div class="col-12 title">
                <h4>Selection rapide</h4>
            </div>
            <div class="col-12">
                <ul class="fam-head">
                    {% for f in famIcon %}
                        <li>
                            {% if f.imageHead is null %}
                                <a href="#{{ f.name }}"><img src="{{ asset('uploads/default.png') }}" alt=""></a>
                            {% else %}
                                <a href="#{{ f.name }}"><img src="{{ asset('uploads/images/' ~ f.imageHead ) }}" alt="{{ f.imageHead.alt }}"></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% for f in fam %}
        <article id="{{ f.name }}" class="fam">
            {% if f.imageBackground is null %}
                <img src="{{ asset('uploads/familiar.png') }}" alt="">
            {% else %}
                <img src="{{ asset('uploads/images/' ~ f.imageBackground ) }}" alt="{{ f.imageBackground.alt }}">
            {% endif %}

            <div class="fam-name">
                {{ f.name }}
            </div>

            <div class="fam-comp1">
                <div class="comp1-img" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ f.competence1Desc }}"></div>
                {{ f.competence1 }}
            </div>

            {% if f.competence2 %}
                <div class="fam-comp2">
                    <div class="comp2-img" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ f.competence2Desc }}"></div>
                    {{ f.competence2 }}
                </div>
            {% endif %}

            {% if f.competence3 %}
                <div class="fam-comp3">
                    <div class="comp3-img" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ f.competence3Desc }}"></div>
                    {{ f.competence3 }}
                </div>
            {% endif %}

            {% if f.talent %}
                <div class="fam-talent">
                    <div class="talent-img" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ f.talentDesc }}"></div>
                    {{ f.talent }}
                </div>
            {% endif %}
        </article>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(fam) }}
    </div>

{% endblock %}

