{% extends 'base.html.twig' %}

{% block title %}Les familiers{% endblock %}

{% block contentTitle %}Les familiers{% endblock %}

{% block body %}

    <div class="filter-menu">
        <div class="title">
            <div>
                <img src="{{ asset('uploads/bandeau_rouge.png') }}" alt="">
                <div class="text-center">
                    <span>Liste</span>
                </div>
            </div>
        </div>
        <div class="filter-list familiar row">
            <div class="col-12 mt-2">
                <ul>
                    {% for f in famIcon %}
                        <li value="{{ f.id }}" class="ajax-view_content">
                            {% if f.imageHead is null %}
                                <img src="{{ asset('uploads/default.png') }}" alt="">
                            {% else %}
                                <img src="{{ asset('uploads/images/' ~ f.imageHead ) }}" alt="{{ f.imageHead.alt }}">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="filter-menu category">
        <div class="title">
            <div>
                <img src="{{ asset('uploads/bandeau_rouge.png') }}" alt="">
                <div class="text-center">
                    <span>Catégories</span>
                </div>
            </div>
        </div>

        <div class="filter-list familiar row">
            <div class="col-12 mt-2">
                <ul>
                    {% for f in famCat %}
                        <li value="{{ f.id }}" class="ajax-view_contentByCat">
                            <div>
                                <img src="{{ asset('uploads/button.png') }}" alt="">
                                <div class="text-center">{{ f.name }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="ajax-no-content">
        <div class="alert alert-primary" role="alert">
            Cliquez sur un familier ou une catégorie...
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('familiar') }}
    {{ encore_entry_script_tags('familiarByCat') }}
{% endblock %}