{% extends 'base.html.twig' %}

{% block title %}Les familiers{% endblock %}

{% block contentTitle %}Les familiers{% endblock %}

{% block body %}

    <div class="filter-menu">
        <div class="filter-list fam-head-list row">
            <div class="col-12">
                <ul class="fam-head">
                    {% for f in famIcon %}
                        <li value="{{ f.id }}" class="view_familiar">
                            {% if f.imageHead is null %}
                                <img src="{{ asset('uploads/default.png') }}" alt="">
                            {% else %}
                                <img src="{{ asset('uploads/images/' ~ f.imageHead ) }}" alt="{{ f.imageHead.alt }}">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12">
                <ul class="fam-head">
                    {% for f in famCat %}
                        <li value="{{ f.id }}" class="view_familiarByCat">
                            {{ f.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {# <article class="fam">
        <div class="m-auto">
            
            <div class="fam-name"></div>

            <div class="fam-lvlPreview">
                <p>Aperçu au Niveau MAX</p>
            </div>

            <div class="fam-comp1"></div>

            <div class="fam-comp2"></div>

            <div class="fam-comp3"></div>

            <div class="fam-talent"></div>
        </div>
    </article> #}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('familiar') }}
    {{ encore_entry_script_tags('familiarByCat') }}
{% endblock %}