<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{% endblock %} - Lord-Mobile</title>
        <link rel="stylesheet" href="{{ asset('build/css/loader.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <meta name="description" content="Site non officiel Lords Mobile, vous y trouverez toutes sortes de tutoriels, un calculateur d'accélérateur, et bien d'autres"/>
        <meta property="og:locale" content="fr_FR"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Lord-Mobile.net"/>
        <meta property="og:url" contenu="http://lord-mobile.net"/>
        <meta property="og:image" content="http://lord-mobile.net/build/uploads/logo350.png"/>
        <meta property="og:description" content="Site non officiel Lords Mobile, vous y trouverez toutes sortes de tutoriels, un calculateur d'accélérateur, et bien d'autres"/>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="Lord-Mobile.net"/>
        <meta name="twitter:creator" content="bukxy"/>


        {% block stylesheets %}{% endblock %}
    </head>
    <body class="m-auto">
        <div class="loader">
            <div class="text-primary rotating" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="top" class="icon"></div>
        <section class="bodyContent">
            <div class="col-lg-12 topNav mb-4">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}"><i class="fas fa-home"></i> Tutoriels</a>
                            </li>
                            {# <div class="nav-diviser"></div> #}
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="container col-12 row mr-auto">
                {% include "leftNav.html.twig" %}
                <div id="content" class="pageWidth mt-5">
                    <div class="pageContent row-fluid">
                        <div class="content-title">
                            <div class="text-center">
                                <img src="{{ asset('uploads/title-content.png') }}" alt="">
                                <div>
                                    <h1>{% block contentTitle %}{% endblock %}</h1>
                                </div>
                            </div>
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>

        </section>

        <div class="backToTop">
            <div>
                <a href="#top"><i class="fas fa-arrow-up"></i></a>
            </div>
        </div>

        <footer>
            <div>lord-mobile.net 2k20 :) - développer sous <a href="https://symfony.com/">symfony</a> par Bukxy</div>
        </footer>

        {% block javascripts %}{% endblock %}

        <script src="https://kit.fontawesome.com/4ab35c6c2f.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2.0.0-rc.1"></script>

        {{ encore_entry_script_tags('global') }}
        {{ encore_entry_script_tags('front') }}

    </body>
</html>
