<div class="leftNav mt-5">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="leftNav-title">
            <div class="text-center">
                <img src="{{ asset('uploads/title-content.png') }}" alt="">
                <div>
                    <p>Menu</p>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leftNavigation" aria-controls="leftNavigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="leftNavigation">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('boost_list')}}">
                        <img src="{{ asset('uploads/icon/boost_territory.png') }}" alt="">Boosts territoire
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('construction_list')}}">
                        <img src="{{ asset('uploads/icon/castle.png') }}" alt="">Constructions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('familiar_list') }}">
                        <img src="{{ asset('uploads/icon/familier.png') }}" alt="">Familiers
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('uploads/icon/GF.png') }}" alt="">Evénements
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'guild-fest'}) }}">Guilde Fest</a>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'guild-showdown'}) }}">Epreuve de Guilde</a>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'guild-bash'}) }}">Bash de Guilde</a>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'lords-cup'}) }}">Coupe des lords</a>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'kvk'}) }}">RvR (KvK)</a>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'dragon-arena'}) }}">Arène du dragon</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'feudal-war'}) }}">Guerre Féodale</a>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'battle-royal'}) }}">Bataille Royale</a>
                        <a class="dropdown-item" href="{{ path('article', {'slug': 'royal-calice'}) }}">Calice Royale</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>