{% extends 'back/baseAdmin.html.twig' %}

{% block title %}
    {% if editMode %}
        Edition familier
    {% else %}
        Ajout familier
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}

        <div class="row col-lg-10 col-sm-12 m-auto">
            <div class="card col-12 pb-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {% if editMode %}
                            Edition du familier
                        {% else %}
                            Nouveau familier
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form-group row col-12 p-0 m-auto">
                        <div class="col-6">
                            {{ form_label(form.name, 'Nom du familier') }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.familiarCat, 'Catégorie du familier') }}
                            {{ form_widget(form.familiarCat) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.competence1, 'Compétence 1') }}
                            {{ form_widget(form.competence1) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.competence1Desc, 'Description Compétence 1') }}
                            {{ form_widget(form.competence1Desc) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.competence2, 'Compétence 2') }}
                            {{ form_widget(form.competence2) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.competence2Desc, 'Description Compétence 2') }}
                            {{ form_widget(form.competence2Desc) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.competence3, 'Compétence 3') }}
                            {{ form_widget(form.competence3) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.competence3Desc, 'Description Compétence 3') }}
                            {{ form_widget(form.competence3Desc) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.talent, 'Talent') }}
                            {{ form_widget(form.talent) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.talentDesc, 'Description du Talent') }}
                            {{ form_widget(form.talentDesc) }}
                        </div>

                    </div>      
                </div>
                <button type="submit" class="btn btn-primary m-auto">
                    {% if editMode %}
                        Sauvegarder
                    {% else %}
                        Ajouter
                    {% endif %}
                </button>
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}
