{% extends 'back/baseAdmin.html.twig' %}

{% block title %}Familiers{% endblock %}

{% block body %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des familiers</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Pacte</th>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Icon</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Pacte</th>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Icon</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for f in familiars %}
                            <tr>
                                <th scope="row">{{ f.familiarCat }}</th>
                                <td>{{ f.name }}</td>
                                {% if f.imageBackground is null %}
                                    <td>
                                        <button class="btn btn-primary">
                                            <a href="{{ path('admin_familiar_new_imageBackground', {'id' : f.id }) }}"><i class="fas fa-plus-circle"></i></a>
                                        </button>
                                    </td>
                                {% else %}
                                    <td>
                                        <img class="lm-img" src="{{ asset('uploads/images/' ~ f.imageBackground) }}" alt="{{ f.imageBackground.alt }}">
                                        <button class="btn btn-danger">
                                            <a href="{{ path('admin_familiar_delete_imageBackground', {'id' : f.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                        </button>
                                    </td>
                                {% endif %}

                                {% if f.imageHead is null %}
                                    <td>
                                        <button class="btn btn-primary">
                                            <a href="{{ path('admin_familiar_new_imageHead', {'id' : f.id }) }}"><i class="fas fa-plus-circle"></i></a>
                                        </button>
                                    </td>
                                {% else %}
                                    <td>
                                        <img class="lm-img" src="{{ asset('uploads/images/' ~ f.imageHead) }}" alt="{{ f.imageHead.alt }}">
                                        <button class="btn btn-danger">
                                            <a href="{{ path('admin_familiar_delete_imageHead', {'id' : f.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                        </button>
                                    </td>
                                {% endif %}
                                <td>
                                    <button class="btn btn-primary">
                                        <a href="{{ path('admin_familiar_edit', {'id' : f.id }) }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </button>
                                    <button class="btn btn-danger">
                                        <a href="{{ path('admin_familiar_delete', {'id' : f.id }) }}">
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
