{% extends 'back/baseAdmin.html.twig' %}

{% block title %}Liste familiers{% endblock %}

{% block body %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des familiers</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Pacte</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Icon</th>
                            <th class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-center">Pacte</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Icon</th>
                            <th class="text-center">Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for f in familiars %}
                            <tr>
                                <th class="lm-td" scope="row">{{ f.familiarCat }}</th>
                                <td class="lm-td">{{ f.name }}</td>
                                {% if f.imageBackground is null %}
                                    <td>
                                        <button class="btn btn-primary">
                                            <a href="{{ path('admin_familiar_new_imageBackground', {'id' : f.id }) }}"><i class="fas fa-plus-circle"></i></a>
                                        </button>
                                    </td>
                                {% else %}
                                    <td>
                                        <div class="lm-imgFam m-auto">
                                            <img src="{{ asset('uploads/images/' ~ f.imageBackground) }}" alt="{{ f.imageBackground.alt }}">
                                            <div class="img-overlay">
                                                <a class="btn btn-danger btn-circle"  href="{{ path('admin_familiar_delete_imageBackground', {'id' : f.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}

                                {% if f.imageHead is null %}
                                    <td>
                                        <a class="btn btn-primary btn-circle" href="{{ path('admin_familiar_new_imageHead', {'id' : f.id }) }}"><i class="fas fa-plus-circle"></i></a>
                                    </td>
                                {% else %}
                                    <td>
                                        <div class="lm-imgIcon m-auto">
                                            <img src="{{ asset('uploads/images/' ~ f.imageHead) }}" alt="{{ f.imageHead.alt }}">
                                            <div class="img-overlay">
                                                <a class="btn btn-danger btn-circle" href="{{ path('admin_familiar_delete_imageHead', {'id' : f.id }) }}"><i class="fas fa-minus-circle"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                                <td>
                                    <div class="lm-options">
                                        <a class="btn btn-primary btn-circle" href="{{ path('admin_familiar_edit', {'id' : f.id }) }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger btn-circle" href="{{ path('admin_familiar_delete', {'id' : f.id }) }}">
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
